:root {
  --color-0: #1f1f1f;
  --color-2: #00AA00;
  --color-3: #00AAAA;
  --color-4: #AA0000;
  --color-5: #AA00AA;
  --color-6: #AA5500;
  --color-7: #AAAAAA;
  --color-8: #555555;
  --color-9: #8888ff;
  --color-10: #55FF55;
  --color-11: #55FFFF;
  --color-12: #FF5555;
  --color-13: #FF55FF;
  --color-14: #FFFF55;
  --color-15: #FFFFFF;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-italic-webfont.woff') format('woff');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-regular-webfont.woff');
}




html {

}

body {
  font-family: "tex_gyre_heros", Helvetica, Arial, sans-serif;

  color: var(--color-0);

  padding:0;
  background-color: var(--color-15);

  max-width: 1000px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;

}

header {
  /* font-size: 1.5rem; */

}

footer {
  font-size: 0.75rem;
  clear: both;
}

#flexbox_wrapper {
  display: flex;
  flex-direction: row-reverse;
  border-right: solid 2px;
}



h1, h2, h3, h4, h5, h6 {
  background-color: LightGrey;
  overflow: hidden;
  margin: 0;
  padding: 2rem 3rem 2rem 3rem;

}
h1:hover{

  background-color: var(--color-12);

}
h2:hover{

  background-color: var(--color-14);

}
h3:hover{

  background-color: var(--color-14);

}
p {
  max-width: 550px;
  text-align: justify;
  margin:  1rem 3rem 1rem 3rem;
  padding: 0;
}
ul
{
  padding: 0;
  margin:  1rem 3rem 1rem 3rem;
}

h1 {
  /* background-image: url('../noise2.png'); */
  color: white;
  text-shadow: 2px 2px 0px var(--color-0);
  background-color: var(--color-9);
  font-size: 4em;
  padding: 2rem 3rem 2rem 3rem;
}
h2 {
  font-size: 2.5em;
  padding: 2rem 3rem 2rem 3rem;
}
h3 {

  font-size: 2em;
  padding: 1.6rem 3rem 1.6rem 3rem;
}
h4 {
  font-size: 1.8em;
  padding: 1.6rem 3rem 1.6rem 3rem;
}
h5 {
  font-size: 1.5em;
  padding: 1.3rem 3rem 1.3rem 3rem;
}
h6 {
  font-size: 1.2em;
  padding: 1.3rem 3rem 1.3rem 3rem;
}

.header, .footer {
  border: solid 2px;
  margin: 0px;
  background-color: white;
}

.box {

  border-bottom: solid 2px;
}

.box:last-child{
  border-bottom: none;
}

.navbar {
  margin-top:-2px;
  flex-grow: 0;
  border-top: solid 2px;
  border-bottom: solid 2px;
  background-color: white;
  height: inherit;
  width: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self:baseline;
}

.content {
  flex-grow: 1;
  border-left: solid 2px;
  border-right: solid 2px;
}

.content > * {

}

.content > *:last-child {

}





@media (max-width: 1032px) {
  body {
    width:auto;
    margin-left: 8px;
    margin-right: 8px;
  }
}

/* @media (max-width: 900px) {
  body {
    width:auto;
    margin-left: 8px;
    margin-right: 8px;
  }
} */

@media (max-width: 700px) {
  body {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }
  .content {
    border-right: none;
  }

  .navbar {
      align-self:stretch;
      border-left: solid 2px;
  }


  #flexbox_wrapper {
    flex-direction: column;
  }

  h1 {
    font-size: 3em;
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  }
  h2 {
    font-size: 2em;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  h3 {
    font-size: 1.8em;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  }
  h4 {
    font-size: 1.6em;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  }
  h5 {
    font-size: 1.4em;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  }
  h6 {
    font-size: 1.2em;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  }
  p {
    max-width: 550px;
    text-align: justify;

    margin:  1rem 1.5rem 1rem 1.5rem;

  }
  li
  {
    display: inline;
  }
  ul
  {
    padding: 0;

    margin:  1rem 1.5rem 1rem 1.5rem;
  }

}
