:root {
  --AlmostBlack: #202020;

}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-italic-webfont.woff') format('woff');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-regular-webfont.woff');
}

@font-face {
    font-family: 'vga';
    src: url('../fonts/MorePerfectDOSVGA.ttf');
}


html {

}

body {
  font-family: 'tex_gyre_heros', Helvetica, Arial, sans-serif;

  color: var(--AlmostBlack);

  padding:0;
  background-color: white;

  max-width: 1000px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;

}

header {
  /* font-size: 1.5rem; */

}

footer {
  font-size: 0.75rem;
  clear: both;
}

#flexbox_wrapper {
  display: flex;
  flex-direction: row-reverse;
  border-right: solid 2px;
}



h1, h2, h3, h4, h5, h6 {

  font-family: "vga";
  margin: 0;
  padding: 2rem 3rem 2rem 3rem;
}


h1:hover{
  /* animation-name: headerHover;
  animation-duration: 500ms;
  animation-delay: 0ms;
  animation-fill-mode: both;

  animation-iteration-count: 1; */

  background-color: aqua;

}
h2:hover{
  background-color: aqua;

}
h3:hover{
  background-color: aqua;

}
p {
  max-width: 550px;
  text-align: justify;
  margin:  1rem 3rem 1rem 3rem;
  padding: 0;
}
ul
{
  padding: 0;
  margin:  1rem 3rem 1rem 3rem;
}

.header .boxbar {
  background-color: Teal;
  overflow: hidden;
}

.boxbar {
  background-color: Silver;
  overflow: hidden;
}

h1 {
  /* background-image: url('../noise2.png'); */
  color: white;
  text-shadow: 2px 2px 0px var(--AlmostBlack);

  font-size: 4em;
  padding: 2rem 3rem 2rem 3rem;
}
h2 {
  text-shadow: 2px 2px 0px white;
  font-size: 2.5em;
  padding: 2rem 3rem 2rem 3rem;
}
h3 {
  text-shadow: 2px 2px 0px white;
  font-size: 2em;
  padding: 1.6rem 3rem 1.6rem 3rem;
}
h4 {
  font-size: 1.8em;
  padding: 1.6rem 3rem 1.6rem 3rem;
}
h5 {
  font-size: 1.5em;
  padding: 1.3rem 3rem 1.3rem 3rem;
}
h6 {
  font-size: 1.2em;
  padding: 1.3rem 3rem 1.3rem 3rem;
}

.header, .footer {
  border-top: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  margin: 0px;
  overflow: hidden;
}
.header, .footer {
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  margin: 0px;
  overflow: hidden;
}

.box {
  border-top: solid 2px;

}

.box:first-child{
  border-top: none;
}

.navbar {
  margin-top:-2px;
  margin-bottom:-2px;
  flex-grow: 0;
  border-top: solid 2px;
  border-bottom: solid 2px;
  background-color: white;

  height: inherit;
  width: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self:baseline;
}

.content {
  flex-grow: 1;
  border-left: solid 2px;
  border-right: solid 2px;
}

.content > * {

}

.content > *:last-child {

}





@media (max-width: 1032px) {
  body {
    width:auto;
    margin-left: 8px;
    margin-right: 8px;
  }
}

/* @media (max-width: 900px) {
  body {
    width:auto;
    margin-left: 8px;
    margin-right: 8px;
  }
} */

@media (max-width: 700px) {
  body {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }
  .content {
    border-right: none;
  }

  .navbar {
      align-self:stretch;
      border-left: solid 2px;
  }


  #flexbox_wrapper {
    flex-direction: column;
  }

  h1 {
    font-size: 3em;
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;
    width: auto;
  }
  h2 {
    font-size: 2em;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  h3 {
    font-size: 1.8em;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  }
  h4 {
    font-size: 1.6em;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  }
  h5 {
    font-size: 1.4em;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  }
  h6 {
    font-size: 1.2em;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  }
  p {
    max-width: 550px;
    text-align: justify;

    margin:  1rem 1.5rem 1rem 1.5rem;

  }
  li
  {
    display: inline;
  }
  ul
  {
    padding: 0;

    margin:  1rem 1.5rem 1rem 1.5rem;
  }

}


@keyframes headerHover {
  0%
  {

  }
  100%
  {

  }
}
