:root {
  --AlmostBlack: #202020;
  --Blue: #4575f3;
  --Red: #d36f88;
  --Orange: #fc8d45;
  --Purple: #6933b0;
  --Green: #42c8b0;


}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-italic-webfont.woff') format('woff');
    font-style: italic, oblique;
}

@font-face {
    font-family: 'tex_gyre_heros';
    src: url('../fonts/texgyreheros-regular-webfont.woff');
}

@font-face {
    font-family: 'vga';
    src: url('../fonts/MorePerfectDOSVGA.ttf');
}


html {

}

body {
  font-family: 'tex_gyre_heros', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: var(--AlmostBlack);

  padding:0;
  background-color: white;

  max-width: 1000px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;

  border-top: solid 2px;
  border-left: solid 2px;
  border-color: var(--Blue);

}

header {
  /* font-size: 1.5rem; */

}

footer {
  clear: both;
}

#flexbox_wrapper_outer {
  display: flex;
  flex-direction: row-reverse;

}

#flexbox_wrapper_nav
{
  display: flex;
  flex-direction: column;

}

#navbar {

}
#empty {
 flex: 1;
}


h1 {
  color: white;
  font-family: "vga";
  margin: 2rem 3rem 2rem 3rem;
}
h2, h3, h4, h5, h6 {
  font-family: "vga";
  text-align: center;

  margin: auto;

}


p {
  max-width: 550px;
  text-align: justify;
  margin:  1rem 3rem 1rem 3rem;
  padding: 0;
}
ul
{
  padding: 0;
  margin:  1rem 3rem 1rem 3rem;
}

/* BOXES */
.headerbox{
  width: 100%;
  max-width: 550px;
  margin: 1rem 3rem 1rem 3rem;

}
.footer {

}
.header.box {
  border-bottom: none;
}
.box {
  background-color: white;
  border-right: solid 2px;
  border-bottom: solid 2px;
  border-color: var(--Blue);
  overflow: hidden;

}
.navbar.box {

  position: sticky;
  position: -webkit-sticky;
  top: 0px;

}

.boxbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: white;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-color: var(--Blue);
}


.header .boxbar {
  background-color: var(--Blue);
  overflow: hidden;
  border: none;
}
.header .boxbar:hover {
  background-color: var(--Green);

}








.content {
  flex-grow: 1;

}

.content > * {

}

.content > *:last-child {

}





@media (max-width: 1032px) {
  body {
    width:auto;
    margin-left: 8px;
    margin-right: 8px;
  }
}

/* @media (max-width: 900px) {
  body {
    width:auto;
    margin-left: 8px;
    margin-right: 8px;
  }
} */

@media (max-width: 700px) {
  body {
    width: auto;
    margin: 4px;
  }
  .content {


  }
  #flexbox_wrapper_outer {
    flex-direction: column;


  }

  #flexbox_wrapper_nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;

  }
  #navbar {
    display: flex;
    align-items:

  }
  #empty {
    display: none;
  }

  .navbar.box {
    position: static;

  }

  nav > .boxbar {
    flex-shrink: 0;
    border-bottom: none;
    border-right: 2px solid;
    border-color: var(--Blue);

  }



  h1 {
    margin: 1rem 1.5rem 1rem 1.5rem;


  }
  h2, h3, h4, h5, h6 {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;


  }

  p {
    max-width: 550px;
    text-align: justify;

    margin:  1rem 1.5rem 1rem 1.5rem;

  }
  li
  {
    display: inline;
  }
  ul
  {
    padding: 0;

    margin:  1rem 1.5rem 1rem 1.5rem;
  }

}


@keyframes headerHover {
  0%
  {

  }
  100%
  {

  }
}
